/* Write your CSS here */
.bg-container {
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dark {
  height: 200px;
  width: 350px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  padding: 10px;
}
.light {
  height: 200px;
  width: 350px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  border: solid 2px #000;
  padding: 10px;
}
.white-header {
  color: #fff;
  font-family: 'Roboto';
  font-weight: 600;
}
.black-header {
  color: #000;
  font-family: 'Roboto';
  font-weight: 600;
}
.btn {
  padding: 6px 10px;
  outline: none;
  font-family: 'Roboto';
}
